@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

.main {
  height: 100dvh;
  margin: 0;
  /* padding: 0; */
  /* Adjust the path accordingly */
  background-image: url("./assets/home/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper {
  /* max-width: 95vw !important; */
  /* margin-left: 5rem !important; */
  max-height: 700px !important;
  height: 100%;
}

.leaflate-container {
  width: 80vw !important;
  height: 70dvh !important;
}

.loading-spinner circle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 8;
  /* Adjust the stroke width as needed */
  stroke-linecap: round;
  stroke-dasharray: 100;
  /* (2 * PI * radius) - for radius of 76 */
  animation: dash 1s linear infinite;
  /* Adjust the animation duration as needed */
  transform-origin: center;
}
@keyframes dash {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0.2rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f110;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*
.logo-image {
  min-height: 80px;
  max-height: 100px;
  min-width: 80px;
  max-width: 100px;
}

.menu-button {
  padding: 8px;
}

.menu-button-icon {
  font-size: 20px;
} */

/* @media (max-height: 768) {
  .logo-image {
    max-height: 100px !important;
    min-height: 100px !important;
    max-width: 100px !important;
    min-width: 100px !important;
  }

  .menu-button {
    padding: 20px !important;
    background-color: green !important;
  }

  .menu-menu-box {
    padding-top: 4px;
  }

  .menu-button-icon {
    font-size: 16px;
  }
}

@media (max-height: 512px) {
  .logo-image {
    max-height: 80px;
    min-height: 80px;
    max-width: 80px;
    min-width: 80px;
  }

  .menu-button {
    padding: 4px;
  }

  .menu-menu-box {
    padding-top: 4px;
  }

  .menu-button-icon {
    font-size: 16px;
  }
}

@media (max-height: 450px) {
  .logo-image {
    max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
  }

  .menu-button {
    padding: 4px !important;
  }

  .menu-button-icon {
    font-size: 18px !important;
  }

}

@media (max-height: 300px) {
  .menu-button-outer-cover {
    box-shadow: none !important;
  }
} */
/* .react-pdf__Page{
  max-width: 300px !important;
} */

@media screen and (orientation: landscape) {
   .react-pdf__Page {
    max-width: 300px !important;
    /* Other portrait styles */
  }
}
