@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  margin: 0;
  padding: 0;
  /* Adjust the path accordingly */
  background-image: url("./assets/home/home.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
